@font-face {
    font-family: VenrynSans;
    src: url("Fonts/VenrynSans-Regular.ttf");
}
@font-face {
    font-family: VenrynSans;
    src: url("Fonts/VenrynSans-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: VenrynSans;
    src: url("Fonts/VenrynSans-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: VenrynSans;
    src: url("Fonts/VenrynSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}
